{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color:#f0f8ff; margin-left:25%; margin-top:10%;font-size:20px;color:#000080 " >

<h1 style="color:#000080;margin-left:35%; margin-bottom:5%"> ADMIN PROFILE</h1>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}